.container {
    display: block;
    width: 97%;
    height: auto;
   background-color: aqua;
    border: 2px solid red;
    position: relative;
    left: 20px;
}
.box {
    display: inline-block;
    width: 20%;
    height: 20px;
    border: 1px solid green;
    background-color: antiquewhite;
    position: relative;
    margin: 20px;
    padding: 3px;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    border-image-slice: 1;
}
.text {
     margin: 1px; 
     text-align: center;
}
.box:hover ~ .box {
  transition: 0.2s;
    transform: translateY(-1rem);
}
.box::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(
45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: glower 20s linear infinite;
}
@keyframes glower {
    0% {
      background-position: 0 0;
    }
    
    50% {
      background-position: 400% 0;
    }
    
    100% {
      background-position: 0 0;
    }
  }